<% validations.build_exclusion unless validations.exclusion %>
<% exclusion = validations.exclusion %>

<fieldset class="border-0">
  <legend>
    Exclusion
  </legend>
  <div class="mb-3">

    <%= display_error_validations exclusion %>

    <%= f.fields_for :exclusion, exclusion do |ff| %>

    <div class="mb-3">
      <%= ff.label "Exception List", class: "form-label" %>
      <%= ff.select :in, options_for_select(exclusion.in, exclusion.in), { include_hidden: false }, class: "form-control option-add-select2", multiple: true%>
    </div>
    <div class="mb-3">
      <%= ff.label :message, class: "form-label" %>
      <%= ff.text_field :message, class: "form-control", placeholder: "Message"%>
    </div>

  <% end %>
  </div>
</fieldset>