<% validations.build_file unless validations.file %>
<% file = validations.file %>

<fieldset class="border-0">
  <legend>
    File
  </legend>

  <%= display_error_validations file %>

  <%= f.fields_for :file, file do |ff| %>

    <div class="mb-3">
      <%= ff.label :whitelist, class: "form-label" %>
      <%= f.select :type, options_for_mime_types(selected: file.whitelist), {}, class: "form-select option-select2", multiple: true %>
    </div>
    <div class="mb-3">
      <%= ff.label :max_file_size, class: "form-label" %>
      <%= ff.number_field :max_file_size, class: "form-control", min: 0, step: 1, placeholder: "Maximum file size"%>
    </div>
    <div class="mb-3">
      <%= ff.label :file_size_unit, class: "form-label" %>
      <%= f.select :file_size_unit, options_for_select([['MB', 'megabytes'], ['KB', 'kilobytes'], ['Byte', 'bytes']], file.file_size_unit), {}, class: "form-control option-select2"%>
    </div>

  <% end %>


</fieldset>