<fieldset class="border-0">
  <legend>
    Multiple Select Field
  </legend>

  <%= display_error_validations options %>

  <div class="mb-3">
    <%= f.check_box :strict, class: "form-check-input" %>
    <%= f.label " Can only select from collection", class: "form-check-label" %>
  </div>
  <div class="mb-3">
    <%= f.label "Selection", class: "form-label" %>
    <%= f.select :choices, options_for_select(options.choices, options.choices), { include_hidden: false }, class: "form-control option-add-select2", multiple: true%>
  </div>

</fieldset>
