<div class="row nested_form_field mb-3">
  <div class="col-12">
    <%= f.label field.label, class: "form-label" %>
  </div>
  <div class="col-12 collection" id="<%= field.name %>">
    <div class="row">
      <div class="col-12">
        <%= f.fields_for field.name do |ff| %>
          <%= render "_document_form/fields/nested_form", f: ff, field: field, form: field.nested_form, nesting: false %>
        <% end %>
      </div>
      <div class="col-12 links">
        <% if field.access_read_and_write? %>
          <%= link_to_add_association "Add", f, field.name,
                                      class: "btn btn-info text-white",
                                      partial: "_document_form/fields/nested_form",
                                      render_options: {
                                        locals: {field: field, form: field.nested_form, nesting: true}
                                      } %>
        <% end %>
      </div>
      <% if field.hint.present? %>
        <div class="col-12 mt-1">
          <span class="form-text">
            <%= field.hint %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
</div>